- title "Post"
%p
  %strong
    Title:
  = h @post.title
%p
  %strong
    Content:
  = h @post.content
%p
  %strong
    Metadata:
  = h @post.metadata
%p
  = link_to "Edit", edit_post_path(@post)
  |
  = link_to "Destroy", @post, :confirm => 'Are you sure?', :method => :delete
  |
