- form_for @site do |f|
  = f.error_messages
  %p
    = f.label :domain
    %br
    = f.text_field :domain
  %p
    = f.label :site_hash
    %br
    = f.text_field :site_hash
  %p
    = f.label :domain_hash
    %br
    = f.text_field :domain_hash
  %p
    = f.submit "Submit"
