- title "Sites"
%table
  %tr
    %th
      Domain
    %th
      Site Hash
    %th
      Domain Hash
  - for site in @sites
    %tr
      %td
        = h site.domain
      %td
        = h site.site_hash
      %td
        = h site.domain_hash
      %td
        = link_to "Show", site
      %td
        = link_to "Edit", edit_site_path(site)
      %td
        = link_to "Destroy", site, :confirm => 'Are you sure?', :method => :delete
%p
  = link_to "New Site", new_site_path
